body {
    background-color: #FEFFC0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    margin: 20px 0;
    width: 80%;
}

header h1 {
    color: black;
    font-size: 2em;
    margin: 10px 0;
}

header p {
    font-size: 1.2em;
    margin: 10px 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

table {
    border-collapse: collapse;
    width: auto;
    margin: 20px 0;
    background-color: #FEFFC0;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

th, td {
    padding: 16px;
    text-align: center;
    border: none;
    font-size: 1.2em;
}

.header {
    text-align: left;
    font-weight: bold;
}

.day-label {
    font-weight: bold;
}

#mo-delay, #sa-delay {
    background-color: #90EE90; /* Hellgrün */
    border-radius: 50%;
    color: black;
    padding: 10px;
}

#di-delay, #do-delay, #fr-delay {
    background-color: #FF6347; /* Rot */
    border-radius: 50%;
    color: black;
    padding: 10px;
}

#mi-delay, #so-delay {
    background-color: #FFA500; /* Orange */
    border-radius: 50%;
    color: black;
    padding: 10px;
}

.map-container {
    position: relative;
    width: 800px; /* Fixierte Breite des Containers */
    height: 800px; /* Fixierte Höhe des Containers */
    margin: 20px auto;
}

#train {
    position: absolute;
    left: 180px;
    top: 62px;
    offset-path: path('M1 270.5L2 256.5L15 233.5L30.5 216L48.5 211L54 206L66.5 200.5L85 209.5H95L106 200.5V186.5L116.5 165.5L135.5 153L141 145.5L153 141.5L158 131L178.5 122.5L192.5 109H198.5L207.5 97L209 83.5L231.5 54L253.5 43L267.5 19.5H278L288.5 11.5L301 8L308 11.5L322.5 3L335.5 1.5L342 8L363 14L365.5 4.5');
    animation: train-animation 30s linear;
    width: 30px;
    height: 30px;
}

@keyframes train-animation {
    0% {
        offset-distance: 0%;
    }
    100% {
        offset-distance: 100%;
    }
}

img {
    display: block;
    margin: 20px auto;
}

.map-container img {
    width: 505px; /* Fixierte Breite des Bildes */
    height: 384px; /* Fixierte Höhe des Bildes */
}
