body {
    background-color: #FEFFC0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    margin: 20px 0;
    font-size: 1.2em;
    width: 80%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

table {
    border-collapse: collapse;
    width: auto;
    margin: 20px 0;
    background-color: #FEFFC0;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

th, td {
    padding: 16px;
    text-align: center;
    border: none;
    font-size: 1.2em;
}

.header {
    text-align: left;
    font-weight: bold;
}

.day-label {
    font-weight: bold;
}

#mo-delay, #sa-delay {
    background-color: #90EE90; /* Hellgrün */
    border-radius: 50%;
    color: black;
    padding: 10px;
}

#di-delay, #do-delay, #fr-delay {
    background-color: #FF6347; /* Rot */
    border-radius: 50%;
    color: black;
    padding: 10px;
}

#mi-delay, #so-delay {
    background-color: #FFA500; /* Orange */
    border-radius: 50%;
    color: black;
    padding: 10px;
}

.map-container {
    position: relative;
    width: 800px; /* Fixierte Breite des Containers */
    height: 800px; /* Fixierte Höhe des Containers */
    margin: 20px auto;
}

#train {
    position: absolute;
    left: 80px;
    top: 140px;
    offset-path: path('M1 640L3.96686 605.44L35.1189 549.555L70.7213 509.847L112.999 499.552L127.833 484.11L157.502 470.139L210.164 494.405H222.773L251.7 467.198V438.52L278.402 389.253L323.647 357.634L337.739 340.722L363.699 331.162L378.534 307.632L426.003 287.043L457.155 256.159H466.798L494.241 229.687L500.175 209.098V195.862L552.837 124.535L602.532 97.328L621.075 69.3855L624.783 66.4442L638.134 42.1784H663.353L689.313 23.0598L716.014 17.1772L732.332 23.0598L770.901 3.20598L799.087 1L816.888 14.9712L864.358 28.9425L871.033 26.0012L866.583 12.0299L874 8.35328');
    animation: train-animation 30s linear;
    width: 30px;
    height: 30px;
}

@keyframes train-animation {
    0% {
        offset-distance: 0%;
    }
    100% {
        offset-distance: 100%;
    }
}

img {
    display: block;
    margin: 20px auto;
}

.map-container img {
    width: 505px; /* Fixierte Breite des Bildes */
    height: 384px; /* Fixierte Höhe des Bildes */
}
